---
import MainLayout from "../../layouts/MainLayout.astro";
import ComedorApp from "../../components/comedor/svelte/ComedorApp.svelte";
---

<MainLayout title="Comedor | CapyPay" showSidebar={true}>
  <div class="h-full w-full bg-[#FFF9F0] px-4 md:px-6 py-8 pb-32">
    <ComedorApp client:only="svelte" />
  </div>
</MainLayout>
