<button
  class="filter-btn bg-white border-2 border-black text-white/60 font-medium text-xs px-4 py-2 -full border-4 border-black transition hover:bg-white border-2 border-black hover:text-white"
  data-category={Astro.props.category}
>
  <slot />
</button>
