<div
  class="bg-linear-to-br from-indigo-900 to-purple-900 p-4 -3xl relative overflow-hidden flex flex-col justify-between group cursor-pointer col-span-2 md:col-span-1 h-auto min-h-35 border-4 border-black hover:border-indigo-500/50 transition"
>
  <div class="z-10">
    <div class="flex items-center justify-between mb-2">
      <p
        class="text-indigo-200 text-[11px] font-bold uppercase tracking-widest"
      >
        Torneo de Facultades
      </p>
      <span
        class="bg-brand-lime text-black px-2 py-0.5  text-xs font-bold animate-pulse"
        >LIVE</span
      >
    </div>
    <h3 class="text-lg sm:text-xl font-extrabold text-white mb-1">
      Gran Chigüire 👑
    </h3>
    <p class="text-indigo-200/80 text-xs text-balance leading-relaxed">
      Acumula <span class="text-white font-bold">Puntos de Batalla</span> para tu
      facultad. ¡XP es para tu nivel personal!
    </p>
  </div>

  <a
    href="/account/ranking"
    class="z-10 mt-4 px-3 py-1.5 sm:px-4 sm:py-2 bg-white border-2 border-black hover:bg-white/20 backdrop-blur-md -xl text-xs font-bold text-white transition w-fit flex items-center gap-2 border-4 border-black"
  >
    Entrar a la Batalla
    <svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      ><path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"></path></svg
    >
  </a>

  <div
    class="absolute -right-4 -bottom-4 opacity-30 transform rotate-12 group-hover:rotate-6 group-hover:scale-110 transition duration-500"
  >
    <svg
      class="w-28 h-28 text-indigo-500 mix-blend-overlay"
      fill="currentColor"
      viewBox="0 -960 960 960"
      ><path
        d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"
      ></path></svg
    >
  </div>
</div>
