---
import MainLayout from "../../layouts/MainLayout.astro";
import TransactionModal from "../../components/finance/history/TransactionModal.astro";
import HistoryHeader from "../../components/finance/history/HistoryHeader.astro";
import HistoryFilters from "../../components/finance/history/HistoryFilters.astro";
import HistoryTable from "../../components/finance/history/HistoryTable.astro";
---

<MainLayout title="Historial | CapyPay" showSidebar={true}>
  <div
    class="flex flex-col gap-4 lg:gap-6 min-h-screen lg:h-full p-3 sm:p-4 lg:p-0 pb-28 lg:pb-0 relative overflow-y-auto"
  >
    <TransactionModal />
    <HistoryHeader />
    <HistoryFilters />
    <HistoryTable />
  </div>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js"
  ></script>

  <script>
    import { initHistoryPage } from "../../utils/pages/historyPage.js";

    initHistoryPage();
  </script>
</MainLayout>
