---
import MainLayout from "../../layouts/MainLayout.astro";
import ContactsHeader from "../../components/account/contacts/ContactsHeader.astro";
import ContactsFilters from "../../components/account/contacts/ContactsFilters.astro";
import ContactsGrid from "../../components/account/contacts/ContactsGrid.astro";
import ContactsModal from "../../components/account/contacts/ContactsModal.astro";
---

<MainLayout title="Contactos | CapyPay">
  <div
    class="flex flex-col gap-4 lg:gap-6 min-h-screen lg:h-full p-3 sm:p-4 lg:p-0 relative overflow-y-auto"
  >
    <ContactsHeader />
    <ContactsFilters />
    <ContactsGrid />

    <div class="lg:hidden h-20 w-full shrink-0"></div>
  </div>

  <ContactsModal />
</MainLayout>

<script>
  import { initContactsPage } from "../../utils/pages/contactsPage.js";

  initContactsPage();
</script>
